In [222]:
import pandas as pd
import glob
import re
import numpy as np

In [223]:
files = glob.glob('/Users/BP2317/Downloads/archivosnatalia/*.csv')
files

['/Users/BP2317/Downloads/archivosnatalia\\Precipitacion_Chavimochic.csv',
 '/Users/BP2317/Downloads/archivosnatalia\\TempMax_Chavimochic.csv',
 '/Users/BP2317/Downloads/archivosnatalia\\TempMin_Chavimochic.csv']

In [224]:
precipitacion = pd.read_csv(files[0], parse_dates=True)

In [225]:
precipitacion.head()

        Fecha  San_Carlos  San_Jose  Moche  Casa_Grande
0  01/01/2010         0.0       0.0    0.0          0.0
1  02/01/2010         0.2       0.0    0.0          0.0
2  03/01/2010         0.0       0.0    0.0          0.0
3  04/01/2010         0.0       0.0    0.0          0.0
4  05/01/2010         0.0       0.0    0.0          0.0

In [226]:
precipitacion.describe()

        San_Carlos     San_Jose        Moche  Casa_Grande
count  2553.000000  2557.000000  2253.000000  2548.000000
mean      0.024363     0.028627     0.142432     0.099246
std       0.184047     0.190774     0.851465     0.661507
min       0.000000     0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000     0.000000
50%       0.000000     0.000000     0.000000     0.000000
75%       0.000000     0.000000     0.000000     0.000000
max       5.400000     4.000000    27.800000    15.400000

In [227]:
precipitacion.isnull().sum()

Fecha            0
San_Carlos       4
San_Jose         0
Moche          304
Casa_Grande      9
dtype: int64

In [228]:
precipitacion.head()

        Fecha  San_Carlos  San_Jose  Moche  Casa_Grande
0  01/01/2010         0.0       0.0    0.0          0.0
1  02/01/2010         0.2       0.0    0.0          0.0
2  03/01/2010         0.0       0.0    0.0          0.0
3  04/01/2010         0.0       0.0    0.0          0.0
4  05/01/2010         0.0       0.0    0.0          0.0

In [229]:
precipitacion['Mes'] = precipitacion['Fecha'].apply(lambda x : x.split('/')[1])

In [230]:
precipitacion['Dia'] = precipitacion['Fecha'].apply(lambda x : x.split('/')[0])

In [231]:
precipitacion.dtypes

Fecha           object
San_Carlos     float64
San_Jose       float64
Moche          float64
Casa_Grande    float64
Mes             object
Dia             object
dtype: object

In [232]:
precipitacion.head()

        Fecha  San_Carlos  San_Jose  Moche  Casa_Grande Mes Dia
0  01/01/2010         0.0       0.0    0.0          0.0  01  01
1  02/01/2010         0.2       0.0    0.0          0.0  01  02
2  03/01/2010         0.0       0.0    0.0          0.0  01  03
3  04/01/2010         0.0       0.0    0.0          0.0  01  04
4  05/01/2010         0.0       0.0    0.0          0.0  01  05

In [233]:
precipitacion.describe()

        San_Carlos     San_Jose        Moche  Casa_Grande
count  2553.000000  2557.000000  2253.000000  2548.000000
mean      0.024363     0.028627     0.142432     0.099246
std       0.184047     0.190774     0.851465     0.661507
min       0.000000     0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000     0.000000
50%       0.000000     0.000000     0.000000     0.000000
75%       0.000000     0.000000     0.000000     0.000000
max       5.400000     4.000000    27.800000    15.400000

In [234]:
medias=precipitacion.groupby(['Mes','Dia']).mean()

In [235]:
medias.head()

         San_Carlos  San_Jose     Moche  Casa_Grande
Mes Dia
01  01     0.000000  0.000000  0.628571     0.142857
    02     0.028571  0.028571  0.085714     0.000000
    03     0.000000  0.000000  0.000000     0.000000
    04     0.000000  0.085714  0.028571     0.000000
    05     0.000000  0.000000  0.000000     0.142857

In [236]:
medias.loc[('01','01'),'Moche']

0.62857142857142867

In [237]:
medias.describe()

       San_Carlos    San_Jose       Moche  Casa_Grande
count  366.000000  366.000000  366.000000   366.000000
mean     0.024278    0.028571    0.135677     0.098711
std      0.071201    0.074114    0.339792     0.276097
min      0.000000    0.000000    0.000000     0.000000
25%      0.000000    0.000000    0.000000     0.000000
50%      0.000000    0.000000    0.028571     0.000000
75%      0.000000    0.028571    0.133333     0.067857
max      0.771429    0.571429    4.514286     2.892857

In [238]:
precipitacion.describe()

        San_Carlos     San_Jose        Moche  Casa_Grande
count  2553.000000  2557.000000  2253.000000  2548.000000
mean      0.024363     0.028627     0.142432     0.099246
std       0.184047     0.190774     0.851465     0.661507
min       0.000000     0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000     0.000000
50%       0.000000     0.000000     0.000000     0.000000
75%       0.000000     0.000000     0.000000     0.000000
max       5.400000     4.000000    27.800000    15.400000

groupedSan_Carlos = precipitacion.groupby('Mes')['San_Carlos']

lstGroups =[]
for cname in precipitacion.columns[1:]:
    lstGroups.append(precipitacion.groupby('Mes')[cname])

lstGroups

In [239]:
nans = lambda df: df[df.isnull().any(axis=1)]
nans(precipitacion).head()

          Fecha  San_Carlos  San_Jose  Moche  Casa_Grande Mes Dia
121  02/05/2010         0.0       0.0    NaN          0.0  05  02
122  03/05/2010         0.0       0.0    NaN          0.0  05  03
123  04/05/2010         0.0       0.0    NaN          0.0  05  04
124  05/05/2010         0.0       0.0    NaN          0.0  05  05
125  06/05/2010         0.0       0.0    NaN          0.0  05  06

for index,row in precipitacion.iterrows():
    if np.isnan(row['San_Carlos']):
        precipitacion.loc[index,'San_Carlos']=medias.loc[(row['Mes'],row['Dia']),'San_Carlos']
        print('rep San Carlos')
    if np.isnan(row['San_Jose']):
        precipitacion.loc[index,'San_Jose']=medias.loc[(row['Mes'],row['Dia']),'San_Jose']
        print('rep San Jos√©')
    if np.isnan(row['Moche']):
        precipitacion.loc[index,'Moche']=medias.loc[(row['Mes'],row['Dia']),'Moche']
        print('rep Moche')
    if np.isnan(row['Casa_Grande']):
        precipitacion.loc[index,'Casa_Grande']=medias.loc[(row['Mes'],row['Dia']),'Casa_Grande']
        print('rep Casa Grande')

precipitacion.isnull().sum()

precipitacion.head()

In [240]:
precipitacion.describe()

        San_Carlos     San_Jose        Moche  Casa_Grande
count  2553.000000  2557.000000  2253.000000  2548.000000
mean      0.024363     0.028627     0.142432     0.099246
std       0.184047     0.190774     0.851465     0.661507
min       0.000000     0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000     0.000000
50%       0.000000     0.000000     0.000000     0.000000
75%       0.000000     0.000000     0.000000     0.000000
max       5.400000     4.000000    27.800000    15.400000

In [241]:
names=[]
for f in files:
    names.append(f.split('\\')[1])
print (names)

['Precipitacion_Chavimochic.csv', 'TempMax_Chavimochic.csv', 'TempMin_Chavimochic.csv']

In [242]:
dfs=[]
i =0
root = 'C:\\Users\\BP2317\\Downloads\\archivosnatalia\\output\\'
for f in files:
    df=pd.read_csv(f, parse_dates=True)
    
    df['Mes'] = df['Fecha'].apply(lambda x : x.split('/')[1])
    df['Dia'] = df['Fecha'].apply(lambda x : x.split('/')[0])
    medias=df.groupby(['Mes','Dia']).mean()  
    for index,row in df.iterrows():
        if np.isnan(row['San_Carlos']):
            df.loc[index,'San_Carlos']=float(format(medias.loc[(row['Mes'],row['Dia']),'San_Carlos'],'.2f'))
           
        if np.isnan(row['San_Jose']):
            df.loc[index,'San_Jose']=float(format(medias.loc[(row['Mes'],row['Dia']),'San_Jose'],'.2f'))
          
        if np.isnan(row['Moche']):
            df.loc[index,'Moche']=float(format(medias.loc[(row['Mes'],row['Dia']),'Moche'],'.2f'))
          
        if np.isnan(row['Casa_Grande']):
            df.loc[index,'Casa_Grande']=float(format(medias.loc[(row['Mes'],row['Dia']),'Casa_Grande'],'.2f'))
    del df['Mes']
    del df['Dia']
    df.to_csv(root+names[i],index=False)
    i+=1
    
    print(df.isnull().sum())

PermissionError: [Errno 13] Permission denied: 'C:\\Users\\BP2317\\Downloads\\archivosnatalia\\output\\Precipitacion_Chavimochic.csv'

In [189]:
for df in dfs:
    print(df.isnull().sum())

Fecha          0
San_Carlos     0
San_Jose       0
Moche          0
Casa_Grande    0
Mes            0
Dia            0
dtype: int64
Fecha           0
San_Carlos      0
San_Jose       28
Moche          91
Casa_Grande     4
Mes             0
Dia             0
dtype: int64
Fecha           0
San_Carlos      0
San_Jose       28
Moche          91
Casa_Grande     1
Mes             0
Dia             0
dtype: int64